.button {
    width: 493px;
    height: 75px;
    background-color: #CE2F27;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #fff;
    border-radius: 10px;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    cursor: pointer;
}