.promo {
    position: relative;
    background: #e5e5e5 url('../img/promo/promo-bg.jpg') center (center / cover) no-repeat;
    height: 890px;
    padding-top: 98px;
    box-sizing: border-box;
    &::after {
        content: '';
        position: absolute;
        bottom: -4px;
        width: 100%;
        height: 28px;
        background: url('../img/promo/img-after.png') center (center / cover) no-repeat;
    }
    &__wrapper {
        display: flex;
    }
    &__content {
        padding-top: 180px;
    }
    &__title {
        font-weight: 900;
        font-size: 60px;
        line-height: 66px;
        color: #FFFFFF;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.43);
        text-transform: uppercase;
        margin-bottom: 41px;
    }
    &__title--fw500 {
        font-weight: 500;
        text-transform: lowercase;
        &:first-child {
            text-transform: capitalize;
        }
    }
    &__image {
        position: relative;
        img {
            width: 714px;
            height: 800px;
        }
        &:before {
            content: '';
            position: absolute;
            right: -118px;
            top: -40px;
            width: 370px;
            height: 370px;
            background: url('../img/promo/promo-img-before.png') center no-repeat;
        }
    }
}